*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

body {
  box-sizing: border-box; }

.header {
  position: fixed;
  right: 0;
  height: 12vh; }
  .header .nav {
    font-size: 1.5rem;
    font-weight: 300;
    color: #f7f7f7;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    display: flex;
    width: 40vw;
    height: 100%;
    align-items: center; }
    .header .nav ul {
      position: absolute;
      list-style: none;
      text-decoration: none;
      align-items: center; }

.landing {
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex; }
  .landing__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .landing__left {
    height: 100vh;
    width: 50vw;
    background-color: #a9636a; }
  .landing__right {
    height: 100vh;
    width: 50vw;
    background-color: #560d0d; }

.info {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }
  .info__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .info__half {
    border: blue solid 1px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .info__half__left {
      height: 100%;
      width: 50vw;
      background-color: red; }
    .info__half__rigth {
      height: 100%;
      width: 50vw;
      background-color: orange; }
