@import 'variables';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: 'Roboto', sans-serif;

  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }
  // @include response-phone {
  //   font-size: 50%;
  // }
  // background: linear-gradient(to right bottom, rgba(86, 13, 13, 0.8), rgba(169, 99, 106, 0.8));
}

body {
  box-sizing: border-box;
}
.header {
  position: fixed;
  right: 0;
  height: 12vh;

  .nav {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-grey-light-1;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    display: flex;
    width: 40vw;
    height: 100%;
    align-items: center;

    ul {
      position: absolute;
      list-style: none;
      text-decoration: none;
      align-items: center;
    }
  }
}

.landing {
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  &__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__left {
    height: 100vh;
    width: 50vw;
    background-color: $color-light;
  }
  &__right {
    height: 100vh;
    width: 50vw;
    background-color: $color-dark;
  }
}
.info {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__half {
    border: blue solid 1px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;

    &__left {
      height: 100%;
      width: 50vw;
      background-color: red;
    }
    &__rigth {
      height: 100%;
      width: 50vw;
      background-color: orange;
    }
  }
}
.contact {
  height: 500px;
  background-color: $color-light;
  &__title {
    top: 40%;
    left: 50%;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
    height: 400px;
    width: 500px;
    margin: auto;
  }
}
.footer {
position: relative;
  height: 100px;
  background-color: $color-grey-light-1;
  &__title {
    top: 40%;
    left: 50%;
   
    text-align: center;
  }
}
